@font-face {
    font-family: 'TI99Basic';
    src: url('/css/TI99Basic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bs-primary: #007bff;
    --bs-secondary: #6c757d;
    --bs-body-bg: #ffffff;
    --bs-body-color: #000000;
    --bs-navbar-bg: #f8f9fa; /* Light grey background for navbar */
    --bs-footer-bg: #f8f9fa; /* Light grey background for footer */
    --bs-navbar-color: #000000; /* Default text color for navbar */
    --bs-footer-color: #000000; /* Default text color for footer */
    --bs-breadcrumb-bg: #f8f9fa; /* Light background color for breadcrumb */
    --bs-breadcrumb-color: #000000; /* Default text color for breadcrumb */
    --bs-breadcrumb-active-color: #6c757d; /* Default active text color for breadcrumb */
}

[data-bs-theme="dark"] {
    --bs-primary: #375a7f;
    --bs-secondary: #444;
    --bs-body-bg: #222;
    --bs-body-color: #ffffff;
    --bs-navbar-bg: #343a40; /* Dark grey background for navbar */
    --bs-footer-bg: #343a40; /* Dark grey background for footer */
    --bs-navbar-color: #e0e0e0; /* Soft white text color for navbar */
    --bs-footer-color: #e0e0e0; /* Soft white text color for footer */
    --bs-breadcrumb-bg: #343a40; /* Dark background color for breadcrumb */
    --bs-breadcrumb-color: #e0e0e0; /* Soft white text color for breadcrumb */
    --bs-breadcrumb-active-color: #e0e0e0; /* Soft white active text color for breadcrumb */
}

body {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
}

.navbar {
    background-color: var(--bs-navbar-bg) !important;
    color: var(--bs-navbar-color) !important;
}

.navbar .nav-link {
    color: var(--bs-navbar-color) !important;
}

.navbar-brand {
    font-family: 'TI99Basic', sans-serif;
    font-size: 2rem;
    color: var(--bs-navbar-color) !important;
}

.footer {
    background-color: var(--bs-footer-bg) !important;
    color: var(--bs-footer-color) !important;
}

.footer a {
    color: var(--bs-footer-color) !important;
}

.custom-breadcrumb {
    background-color: var(--bs-breadcrumb-bg); /* Background color for breadcrumb */
    padding: 10px 20px; /* Padding for spacing */
    border-radius: 5px; /* Rounded corners */
    margin-bottom: 20px; /* Margin at the bottom */
    color: var(--bs-breadcrumb-color); /* Text color for breadcrumb */
}

.custom-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    content: ""; /* Remove the separator */
    color: var(--bs-breadcrumb-color); /* Custom color for separator */
}

.custom-breadcrumb .breadcrumb-item a {
    font-weight: bold; /* Bold font for links */
    color: var(--bs-breadcrumb-color); /* Custom link color */
}

.custom-breadcrumb .breadcrumb-item.active {
    font-weight: bold; /* Bold font for active item */
    color: var(--bs-breadcrumb-active-color); /* Custom color for active item */
}

.breadcrumb-button {
    position: relative;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--bs-primary);
    color: var(--bs-body-color) !important;
    text-decoration: none;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
}

.breadcrumb-button a {
    text-decoration: none;
}

.breadcrumb-button::after {
    content: '';
    position: absolute;
    top: 0;
    right: -0.4rem;
    width: 0.5rem;
    height: 100%;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.breadcrumb-item.active {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.col-fixed-small {
    flex: 0 0 50px;
    max-width: 50px;
}
