
@font-face {
    font-family: 'TI99Basic';
    src: url('/css/TI99Basic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navbar-brand {
    font-family: 'TI99Basic', sans-serif;
    font-size: 2rem;
}

