
NET "led0" LOC = P52;

NET "crub<0>" LOC = P70;
NET "crub<1>" LOC = P71;
NET "crub<2>" LOC = P72;
NET "crub<3>" LOC = P73;

NET "db_dir" LOC = P33;
NET "db_en" LOC = P35;
NET "dsr_b0" LOC = P29;
NET "dsr_b1" LOC = P30;
NET "dsr_en" LOC = P61;

NET "r_clk" LOC = P22; NET "r_clk" BUFG = CLK; // GCK1
NET "r_cd" LOC = P02;
NET "r_dout" LOC = P07;
NET "r_le" LOC = P06;
NET "r_rt" LOC = P08;
NET "r_din" LOC = P04;
NET "r_reset" LOC = P03;

NET "ti_cruclk" LOC = P23; NET "ti_cruclk" BUFG = CLK; // GCK2
NET "ti_cruin" LOC = P01;
NET "ti_dbin" LOC = P82;
NET "ti_extint" LOC = P76;
NET "ti_memen" LOC = P99;
NET "ti_ph3" LOC = P27; NET "ti_ph3" BUFG = CLK; // GKC3
NET "ti_we" LOC = P94;

NET "ti_a<0>" LOC = P97;
NET "ti_a<1>" LOC = P96;
NET "ti_a<2>" LOC = P93;
NET "ti_a<3>" LOC = P81;
NET "ti_a<4>" LOC = P80;
NET "ti_a<5>" LOC = P78;
NET "ti_a<6>" LOC = P95;
NET "ti_a<7>" LOC = P90;
NET "ti_a<8>" LOC = P86;
NET "ti_a<9>" LOC = P91;
NET "ti_a<10>" LOC = P77;
NET "ti_a<11>" LOC = P79;
NET "ti_a<12>" LOC = P85;
NET "ti_a<13>" LOC = P87;
NET "ti_a<14>" LOC = P89;
NET "ti_a<15>" LOC = P92;

NET "tp_d<0>" LOC = P15;
NET "tp_d<1>" LOC = P16;
NET "tp_d<2>" LOC = P17;
NET "tp_d<3>" LOC = P18;
NET "tp_d<4>" LOC = P13;
NET "tp_d<5>" LOC = P14;
NET "tp_d<6>" LOC = P12;
NET "tp_d<7>" LOC = P11;

NET "test<0>" LOC = P65;
NET "test<1>" LOC = P66;
NET "test<2>" LOC = P67;
NET "test<3>" LOC = P68;
