*.runs
import_ise_summary.txt
*.data
*.ppr
iseconfig
*.gise
_xmsgs
*.html
*.err

*.bld
*.cmd_log
*.log
*.gyd
*.jed
*.lso
*.mfd
*.nga
*.ngc
*.ngd
*.ngr
*.pad
*.pnx
*.prj
*.rpt
*.stx
*.syr
*.vm6
*.xml
*.xst
*.xrpt
*.csv
*.ipf
xlnx_auto_0_xdb
tipi_top_html
_ngo
*.exe
*.cmd
*.xmsgs
isim/
*.wdb
tipi_top.tim
tipi_top.tspec
xilinxsim.ini

