Adafruit-GPIO==1.0.3
Adafruit-PureIO==0.2.1
Adafruit-SSD1306==1.6.1
crccheck==0.6
netifaces==0.10.6
Pillow==4.0.0
pkg-resources==0.0.0
pycurl==7.43.0
pygtail==0.7.0
python-magic==0.4.13
RPi.GPIO==0.6.3
spidev==3.2
tipiports==1.0
virtualenv==15.1.0
