[Unit]
Description=TI-99/4A DSR Service
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/dev/github/tipi/dsr/python/fileserver.py
Restart=always

[Install]
WantedBy=multi-user.target

