#Created by Constraints Editor (xc6slx9-tqg144-3) - 2012/11/05
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

# PlanAhead Generated physical constraints 
NET "clk" LOC = P56 | IOSTANDARD = LVTTL;
NET "rst_n" LOC = P38 | IOSTANDARD = LVTTL;

NET "cclk" LOC = P70 | IOSTANDARD = LVTTL;

NET "led<0>" LOC = P134 | IOSTANDARD = LVTTL;
NET "led<1>" LOC = P133 | IOSTANDARD = LVTTL;
NET "led<2>" LOC = P132 | IOSTANDARD = LVTTL;
NET "led<3>" LOC = P131 | IOSTANDARD = LVTTL;
NET "led<4>" LOC = P127 | IOSTANDARD = LVTTL;
NET "led<5>" LOC = P126 | IOSTANDARD = LVTTL;
NET "led<6>" LOC = P124 | IOSTANDARD = LVTTL;
NET "led<7>" LOC = P123 | IOSTANDARD = LVTTL;

NET "spi_mosi" LOC = P44 | IOSTANDARD = LVTTL;
NET "spi_miso" LOC = P45 | IOSTANDARD = LVTTL;
NET "spi_ss" LOC = P48 | IOSTANDARD = LVTTL;
NET "spi_sck" LOC = P43 | IOSTANDARD = LVTTL;
NET "spi_channel<0>" LOC = P46 | IOSTANDARD = LVTTL;
NET "spi_channel<1>" LOC = P61 | IOSTANDARD = LVTTL;
NET "spi_channel<2>" LOC = P62 | IOSTANDARD = LVTTL;
NET "spi_channel<3>" LOC = P65 | IOSTANDARD = LVTTL;

NET "avr_tx" LOC = P55 | IOSTANDARD = LVTTL;
NET "avr_rx" LOC = P59 | IOSTANDARD = LVTTL;
NET "avr_rx_busy" LOC = P39 | IOSTANDARD = LVTTL;

// TI-99/4A data bus - fpga inputs
NET "ti_data<0>" LOC = P114 | IOSTANDARD = LVCMOS33;
NET "ti_data<1>" LOC = P115 | IOSTANDARD = LVCMOS33;
NET "ti_data<2>" LOC = P116 | IOSTANDARD = LVCMOS33;
NET "ti_data<3>" LOC = P117 | IOSTANDARD = LVCMOS33;
NET "ti_data<4>" LOC = P118 | IOSTANDARD = LVCMOS33;
NET "ti_data<5>" LOC = P119 | IOSTANDARD = LVCMOS33;
NET "ti_data<6>" LOC = P120 | IOSTANDARD = LVCMOS33;
NET "ti_data<7>" LOC = P121 | IOSTANDARD = LVCMOS33;


// TI-99/4A address bus
NET "ti_a<0>" LOC = P57 | IOSTANDARD = LVCMOS33;
NET "ti_a<1>" LOC = P58 | IOSTANDARD = LVCMOS33;
NET "ti_a<2>" LOC = P66 | IOSTANDARD = LVCMOS33;
NET "ti_a<3>" LOC = P67 | IOSTANDARD = LVCMOS33;
NET "ti_a<4>" LOC = P74 | IOSTANDARD = LVCMOS33;
NET "ti_a<5>" LOC = P75 | IOSTANDARD = LVCMOS33;
NET "ti_a<6>" LOC = P78 | IOSTANDARD = LVCMOS33;
NET "ti_a<7>" LOC = P79 | IOSTANDARD = LVCMOS33;
NET "ti_a<8>" LOC = P80 | IOSTANDARD = LVCMOS33;
NET "ti_a<9>" LOC = P81 | IOSTANDARD = LVCMOS33;
NET "ti_a<10>" LOC = P82 | IOSTANDARD = LVCMOS33;
NET "ti_a<11>" LOC = P83 | IOSTANDARD = LVCMOS33;
NET "ti_a<12>" LOC = P84 | IOSTANDARD = LVCMOS33;
NET "ti_a<13>" LOC = P85 | IOSTANDARD = LVCMOS33;
NET "ti_a<14>" LOC = P87 | IOSTANDARD = LVCMOS33;
NET "ti_a<15>" LOC = P88 | IOSTANDARD = LVCMOS33;

// TI-99/4A memory signals
NET "ti_memen" LOC = P92 | IOSTANDARD = LVCMOS33;
NET "ti_we" LOC = P93 | IOSTANDARD = LVCMOS33;
NET "ti_dbin" LOC = P94 | IOSTANDARD = LVCMOS33;

// TI-99/4A CRU output
NET "ti_cruclk" LOC = P95 | IOSTANDARD = LVCMOS33;

// TI -> RPi Reset control
NET "rpi_reset" LOC = P1 | IOSTANDARD = LVCMOS33;

// USER CRU Nibble
// It will be easier to set these on PULLUPs with headers.
NET "cru_base<0>" LOC = P101 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "cru_base<1>" LOC = P102 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "cru_base<2>" LOC = P104 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "cru_base<3>" LOC = P105 | IOSTANDARD = LVCMOS33 | PULLDOWN;


// Transciever enable signal outputs
NET "tipi_dbus_oe" LOC = P100 | IOSTANDARD = LVCMOS33;

// Meant to be inputs to the raspberry pi as a data bus
NET "rpi_d<0>" LOC = P50 | IOSTANDARD = LVCMOS33;
NET "rpi_d<1>" LOC = P51 | IOSTANDARD = LVCMOS33;
NET "rpi_d<2>" LOC = P40 | IOSTANDARD = LVCMOS33;
NET "rpi_d<3>" LOC = P41 | IOSTANDARD = LVCMOS33;
NET "rpi_d<4>" LOC = P34 | IOSTANDARD = LVCMOS33;
NET "rpi_d<5>" LOC = P35 | IOSTANDARD = LVCMOS33;
NET "rpi_d<6>" LOC = P32 | IOSTANDARD = LVCMOS33;
NET "rpi_d<7>" LOC = P33 | IOSTANDARD = LVCMOS33;

// Signal byte from TI to RPi
NET "rpi_s<0>" LOC = P137 | IOSTANDARD = LVCMOS33;
NET "rpi_s<1>" LOC = P138 | IOSTANDARD = LVCMOS33;
NET "rpi_s<2>" LOC = P139 | IOSTANDARD = LVCMOS33;
NET "rpi_s<3>" LOC = P140 | IOSTANDARD = LVCMOS33;
NET "rpi_s<4>" LOC = P141 | IOSTANDARD = LVCMOS33;
NET "rpi_s<5>" LOC = P142 | IOSTANDARD = LVCMOS33;
NET "rpi_s<6>" LOC = P143 | IOSTANDARD = LVCMOS33;
NET "rpi_s<7>" LOC = P144 | IOSTANDARD = LVCMOS33;

// Data output for simulated ROM
NET "dsr_d<0>" LOC = P16 | IOSTANDARD = LVCMOS33;
NET "dsr_d<1>" LOC = P17 | IOSTANDARD = LVCMOS33;
NET "dsr_d<2>" LOC = P14 | IOSTANDARD = LVCMOS33;
NET "dsr_d<3>" LOC = P15 | IOSTANDARD = LVCMOS33;
NET "dsr_d<4>" LOC = P7 | IOSTANDARD = LVCMOS33;
NET "dsr_d<5>" LOC = P8 | IOSTANDARD = LVCMOS33;
NET "dsr_d<6>" LOC = P9 | IOSTANDARD = LVCMOS33;
NET "dsr_d<7>" LOC = P10 | IOSTANDARD = LVCMOS33;

// Shift register inputs from RPi
NET rpi_dclk LOC = P23 | IOSTANDARD = LVCMOS33;
NET rpi_cclk LOC = P24 | IOSTANDARD = LVCMOS33;
NET rpi_sdata LOC = P26 | IOSTANDARD = LVCMOS33;
NET rpi_le LOC = P27 | IOSTANDARD = LVCMOS33;
