// TI-99/4A data bus - fpga inputs
NET "ti_data<0>" LOC = P114 | IOSTANDARD = LVTTL | PULLDOWN;
NET "ti_data<1>" LOC = P115 | IOSTANDARD = LVTTL | PULLDOWN;
NET "ti_data<2>" LOC = P116 | IOSTANDARD = LVTTL | PULLDOWN;
NET "ti_data<3>" LOC = P117 | IOSTANDARD = LVTTL | PULLDOWN;
NET "ti_data<4>" LOC = P118 | IOSTANDARD = LVTTL | PULLDOWN;
NET "ti_data<5>" LOC = P119 | IOSTANDARD = LVTTL | PULLDOWN;
NET "ti_data<6>" LOC = P120 | IOSTANDARD = LVTTL | PULLDOWN;
NET "ti_data<7>" LOC = P121 | IOSTANDARD = LVTTL | PULLDOWN;


// TI-99/4A address bus
NET "ti_a<0>" LOC = P57 | IOSTANDARD = LVTTL | PULLDOWN;
NET "ti_a<1>" LOC = P58 | IOSTANDARD = LVTTL | PULLDOWN;
NET "ti_a<2>" LOC = P66 | IOSTANDARD = LVTTL | PULLDOWN;
NET "ti_a<3>" LOC = P67 | IOSTANDARD = LVTTL | PULLDOWN;
NET "ti_a<4>" LOC = P74 | IOSTANDARD = LVTTL | PULLDOWN;
NET "ti_a<5>" LOC = P75 | IOSTANDARD = LVTTL | PULLDOWN;
NET "ti_a<6>" LOC = P78 | IOSTANDARD = LVTTL | PULLDOWN;
NET "ti_a<7>" LOC = P79 | IOSTANDARD = LVTTL | PULLDOWN;

NET "ti_a<8>" LOC = P80 | IOSTANDARD = LVTTL | PULLDOWN;
NET "ti_a<9>" LOC = P81 | IOSTANDARD = LVTTL | PULLDOWN;
NET "ti_a<10>" LOC = P82 | IOSTANDARD = LVTTL | PULLDOWN;
NET "ti_a<11>" LOC = P83 | IOSTANDARD = LVTTL | PULLDOWN;
NET "ti_a<12>" LOC = P84 | IOSTANDARD = LVTTL | PULLDOWN;
NET "ti_a<13>" LOC = P85 | IOSTANDARD = LVTTL | PULLDOWN;
NET "ti_a<14>" LOC = P87 | IOSTANDARD = LVTTL | PULLDOWN;
NET "ti_a<15>" LOC = P88 | IOSTANDARD = LVTTL | PULLDOWN;

// TI-99/4A memory signals
NET "ti_memen" LOC = P92 | IOSTANDARD = LVTTL | PULLUP;
NET "ti_we" LOC = P93 | IOSTANDARD = LVTTL | PULLUP;
NET "ti_dbin" LOC = P94 | IOSTANDARD = LVTTL | PULLDOWN;

// TI-99/4A CRU output
NET "ti_cruclk" LOC = P95 | IOSTANDARD = LVTTL | PULLUP;
NET "ti_reset" LOC = P97 | IOSTANDARD = LVTTL | PULLUP;

// USER CRU Nibble
NET "cru_base<0>" LOC = P101 | IOSTANDARD = LVTTL | PULLUP;
NET "cru_base<1>" LOC = P102 | IOSTANDARD = LVTTL | PULLUP;
NET "cru_base<2>" LOC = P104 | IOSTANDARD = LVTTL | PULLUP;
NET "cru_base<3>" LOC = P105 | IOSTANDARD = LVTTL | PULLUP;

