*.runs
import_ise_summary.txt
*.data
*.ppr
iseconfig
*.gise
_xmsgs
*.html
*.err

*.bld
*.cmd_log
*.gyd
*.jed
*.lso
*.mfd
*.nga
*.ngc
*.ngd
*.ngr
*.pad
*.pnx
*.prj
*.rpt
*.stx
*.syr
*.vm6
*.xml
*.xst
*.xrpt
*.csv
xlnx_auto_0_xdb
tipi_top_html
_ngo

