
NET "cru0" LOC = P13;

NET "crub<0>" LOC = P09;
NET "crub<1>" LOC = P10;
NET "crub<2>" LOC = P11;
NET "crub<3>" LOC = P12;

NET "db_dir" LOC = P57;
NET "db_en" LOC = P56;
NET "dsr_b0" LOC = P06;
NET "dsr_b1" LOC = P07;
NET "dsr_en" LOC = P08;

NET "r_clk" LOC = P15;
NET "r_dc" LOC = P25;
NET "r_dout" LOC = P20;
NET "r_le" LOC = P19;
NET "r_rt" LOC = P18;
NET "r_din" LOC = P24;
NET "r_reset" LOC = P23;

// NET "spare_2" LOC = PO2;
// NET "spare_22" LOC = P22;
// NET "spare_5" LOC = P05;
// NET "spare_64" LOC = P64;

NET "ti_cruclk" LOC = P16;
NET "ti_cruin" LOC = P52;
NET "ti_dbin" LOC = P35;
NET "ti_extint" LOC = P31;
NET "ti_memen" LOC = P51;
NET "ti_ph3" LOC = P17;
NET "ti_we" LOC = P47;

NET "ti_a<0>" LOC = P50;
NET "ti_a<1>" LOC = P49;
NET "ti_a<2>" LOC = P46;
NET "ti_a<3>" LOC = P36;
NET "ti_a<4>" LOC = P33;
NET "ti_a<5>" LOC = P32;
NET "ti_a<6>" LOC = P48;
NET "ti_a<7>" LOC = P43;
NET "ti_a<8>" LOC = P39;
NET "ti_a<9>" LOC = P44;
NET "ti_a<10>" LOC = P27;
NET "ti_a<11>" LOC = P34;
NET "ti_a<12>" LOC = P38;
NET "ti_a<13>" LOC = P40;
NET "ti_a<14>" LOC = P42;
NET "ti_a<15>" LOC = P45;

NET "tp_d<0>" LOC = P62;
NET "tp_d<1>" LOC = P63;
NET "tp_d<2>" LOC = P04;
NET "tp_d<3>" LOC = P01;
NET "tp_d<4>" LOC = P60;
NET "tp_d<5>" LOC = P61;
NET "tp_d<6>" LOC = P59;
NET "tp_d<7>" LOC = P58;

